html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

body {
  background: rgb(255, 239, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 239, 0, 1) 0%,
    rgba(104, 230, 255, 1) 100%
  );
}

.App {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 400px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  margin: 0;
  color: #ff00bb;
  font-size: 50px;
  text-transform: uppercase;
}

p {
  color: #3f93ff;
  font-size: 18px;
}

.startPartyButton {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
  font-size: 30px;
  text-transform: uppercase;
  background-color: orange;
  color: white;
  font-weight: bold;
  transition: background-color 300ms;
  cursor: pointer;
}

.startPartyButton:hover {
    background-color: red;
}
